parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''
    env(DATA_DB_DRIVER): ''
    env(DATA_DB_USER): ''
    env(DATA_DB_PASS): ''
    env(DATA_DB_HOST): ''
    env(DATA_DB_DATABASE): ''

doctrine:
    dbal:
        # configure these for your database server
        driver: 'pdo_mysql'
        server_version: '5.7'
        charset: utf8mb4

        url: '%env(resolve:DATA_DB_DRIVER)%://%env(resolve:DATA_DB_USER)%:%env(resolve:DATA_DB_PASS)%@%env(resolve:DATA_DB_HOST)%:3306/%env(resolve:DATA_DB_DATABASE)%'
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
