{% extends "base.html.twig" %}

{% block title %}
    Faceook Messenger Chatbot
{% endblock %}
{% block meta_description %}
    Faceook Messenger Chatbot from Finline
{% endblock %}

{% block body %}
    <script>

        window.fbAsyncInit = function() {
            FB.init({
                appId      : '376882919389395',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>

    <br>
    <div class="fb-messengermessageus"
         messenger_app_id="376882919389395"
         page_id="155365675175754"
         color="blue"
         size="large">
    </div>
{% endblock body %}